<ul class="nav nav-tabs mynav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/stores">Stores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/brands">Brands</a>
  </li>
</ul>
<div class="jumbotron">
  <h1>Shoe Finder</h1>

</div>
